
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Bạn Đã Thanh Toán Thành Công!
    </div>
    <h3>Quay lại trang chủ</h3>
    <a href="~/Admin/GiaoDien/TrangChu">Click here!</a>
</body>
</html>
