
@{
    ViewBag.Title = "Blogs";
    Layout = "~/Areas/Admin/Views/Shared/LayoutGiaoDien.cshtml";
}

<section class="trang" id="trang">
    <div class="heading2"><h1>câu chuyện hôm nay !!</h1></div>
    <div class="box-container">
        <div class="box">
            <div class="image">
            
                <img src="~/Areas/Admin/content/images/bg33.png" />

            </div>
            <div class="content">
                <a href="https://seedtomysoul.com/2023/06/19/nhung-lan-song-ca-phe/ " class="title">những làn sóng cà phê </a>
                <span>June 19, 2023 · by binhtruong</span>
                <p>
                    Cà phê đã trải qua một chặng đường dài từ khởi đầu khiêm tốn đến trở thành một trong những loại đồ uống được yêu thích và tiêu thụ rộng rãi nhất trên thế giới. Trong suốt lịch sử của mình,
                    cà phê đã trải qua nhiều làn sóng chuyển đổi, mỗi làn sóng được […]
                </p>
                <a href="https://seedtomysoul.com/2023/06/19/nhung-lan-song-ca-phe/" target="_blank" class="btn"> đọc thêm...</a>
            </div>
        </div>

        <div class="box boxx">
            <div class="image">
               
                <img src="~/Areas/Admin/content/images/blong22.png" />
            </div>
            <div class="content">
                <a href="https://seedtomysoul.com/2023/06/13/flash-brew-su-thay-the-cho-cold-brew/" class="title">SỰ THAY THẾ CHO COLD BREW</a>
                <span>June 13, 2023 · by binhtruong  </span>
                <p>
                    Hồi xưa ở Việt Nam cứ đến hè là mình ủ cold brew. Mục đích là để uống cho mát và có một số loại cà phê rất hợp với cách pha chế cold brew này. Cà phê cold brew cũng
                    dễ uống hơn với phụ nữ, nên vợ mình cũng ‘ưa chuộng’ hơn là […]
                </p>
                <a href="https://seedtomysoul.com/2023/06/13/flash-brew-su-thay-the-cho-cold-brew/" target="_blank" class="btn">đọc thêm...  </a>
            </div>

        </div>

        <div class="box">
            <div class="image">
              
                <img src="~/Areas/Admin/content/images/blog1.png" />
            </div>
            <div class="content">
                <a href="https://seedtomysoul.com/2023/06/06/co-nen-di-hoc-khoa-hoc-ca-phe/" class="title">CÓ NÊN ĐKí KHOÁ HỌC CÀ PHÊ</a>
                <span>June 6, 2023 · by binhtruong </span>
                <p>Trên đời này muốn biết được cái gì hoặc làm được nghề gì với kỹ năng mà bạn chưa biết, bạn đều phải đi học. Học từ bé đến lớn, từ biết đọc, biết viết, cho đến những kỹ năng chuyên môn. Điều này đúng như chân lý, nhỉ? Học là một sự lựa chọn […]</p>
                <a href="https://seedtomysoul.com/2023/06/06/co-nen-di-hoc-khoa-hoc-ca-phe/" target="_blank" class="btn">đọc thêm...  </a>
            </div>
        </div>
    </div>
</section>


