
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Areas/Admin/Views/Shared/LayoutGiaoDien.cshtml";
}
<div class="container">
    <div class="sec-intro">
        <div class="intro">
            <img src="https://hrv.hstatic.net/s_1000266602/_KV-marvel-2.jpg" alt="">
        </div>
        <div class="intro-content">
            <p>Được kết hợp từ <b>Cloud</b> (đám mây) và cof <b>Fee</b> (cà phê), <b>CloudFee</b> gợi mở </p>
            <p>về một thế hệ cà phê mới, êm mượt như mây.</p>
        </div>
    </div>



    <!-- oke -->
    <div class="split">
        <div class=" split-container1 sec-words">
            <div class="text-half">
                <div class="line1">CLOuDFEE</div>
                <div class="line2">Creme Brulee</div>
                <div class="line3"><b>Thức uống "chiều chuộng bản thân" bậc nhất</b> cho những ai thích vị ngọt ngào hay muốn thưởng thức sự kết hợp độc đáo giữa món tráng miệng và thức uống.</div>
                <br>
                <div class="line4"><a href="">Êm mượt như mây, Chill là ghiền ngay!</a></div>
            </div>
            <div class="image-half"><img src="https://hrv.hstatic.net/s_1000266602/_creme-brulee.png" alt=""></div>
        </div>
    </div>



    <div class="split">
        <div class="sec-words split-container2">
            <div class="image-half"><img src="https://hrv.hstatic.net/s_1000266602/_creamy.png" alt=""></div>
            <div class="text-half">
                <div class="line1">CLOuDFEE</div>
                <div class="line2">Creamy</div>
                <div class="line3"><b>Thức uống "chiều chuộng bản thân" bậc nhất</b> cho những ai thích vị ngọt ngào hay muốn thưởng thức sự kết hợp độc đáo giữa món tráng miệng và thức uống.</div>
                <br>
                <div class="line4"><a href="">Êm mượt như mây, Chill là ghiền ngay!</a></div>
            </div>
        </div>
    </div>
    <!-- ok -->
    <div class="sec-intro">
        <div class="cafe">
            CÀ PHÊ CÓ DÀNH CHO TẤT CẢ
            MỌI NGƯỜI?
        </div>
    </div>

    <div class="video-container">

        <iframe width="3000" height="1000" src="https://www.youtube.com/embed/t5I96ycncPA?si=Bt9YWhYgl8Jl3gHq&amp;start=7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div><p class="cafe1">Bạn có biết, mỗi ngày có hơn 2 tỷ cốc cà phê được uống trên toàn thế giới? Có người pha cùng sữa, có người rót thêm kem béo, hay kết hợp cùng… rượu whiskey, nhưng không phải ai cũng có thể thưởng thức cà phê một cách ngon lành. Bằng niềm khao khát mang ẩm thực thế giới vào từng ly cà phê bản địa, Edward Teonadi - Giám đốc phát triển sản phẩm tại The Coffee House đã tạo nên thế hệ cà phê mới mang tên CloudFee. Và giờ đây, bất kỳ ai ghé Nhà cũng có thể tìm thấy hương vị cà phê cho riêng mình.</p></div>
    <div class="linh"><a href="">Đọc trọn câu chuyện!</a></div>

    <div class=" sec-intro items">
        <div><a href="https://www.youtube.com/results?search_query=how+to+create+a+coffee+shop+website+"> <img src="https://theme.hstatic.net/1000075078/1001099126/14/mini_facebook.png?v=44" alt=""></a></div>
        <div><img src="https://theme.hstatic.net/1000075078/1001099126/14/mini_zalo.png?v=44" alt=""></div>
        <div><img src="https://theme.hstatic.net/1000075078/1001099126/14/mini_chat.png?v=44" alt=""></div>
        <div><img src="https://theme.hstatic.net/1000075078/1001099126/14/mini_copylink.png?v=44" alt=""></div>
        <div class="headphonebtn"><img src="https://file.hstatic.net/1000075078/file/customer-service-line_2x_e5acb85c9abd40a2a95f2bf1f7253f05.png" alt=""></div>
    </div>

    <!-- khoi 4 -->
    <div class="split">
        <div class="sec2-words split-container2">
            <div class="image-half"><img src="https://file.hstatic.net/1000075078/file/thinh_93cf92a5395043a2b634af4de08c0163.png" alt=""></div>
            <div class="text-half">
                <div class="line1">CÀ PHÊ NGON CHỈ CÓ VỊ ĐẮNG?</div>
                <div class="line3">Từ ý tưởng về CloudFee của Edward, anh Phạm Phúc Thịnh - barista của The Coffee House nhận ra: Cà phê không nhất thiết phải đắng, phải chua thì mới ngon. Đôi khi một chút biến tấu, một chút ngọt ngào để yêu chiều bản thân mới thật sự quan trọng. Và đó là cách CloudFee Creme Brulee ra đời.</div>
                <br>
                <div class="line4 line4-block">
                    <a href="">
                        Xem video nghe Thịnh kể chuyện
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- khoi 3 -->
    <div class="split">
        <div class=" split-container1 sec2-words">
            <div class="text-half">
                <div class="line1">CÀ PHÊ ĐÂU CHỈ LÀ THỨC UỐNG</div>
                <div class="line3">Trong ly cà phê dành cho người mình thương có gì? Khi nghe Edward chia sẻ về thế hệ cà phê mới CloudFee, anh Nguyễn Hoàng Hiếu - barista của The Coffee House chợt nhớ tới vợ mình. Cô ngại vị đắng của cà phê, nhưng cần một thức uống tỉnh táo mỗi sáng. Và CloudFee Creamy là món quà anh tặng cho người phụ nữ anh yêu.</div>
                <br>
                <div class="line4 line4-block"><a href="">Hiếu bật mí trong video này</a></div>
            </div>
            <div class="image-half"><img src="https://file.hstatic.net/1000075078/file/hieu_ed120096122f4c279ff41696f8b97eb3.png" alt=""></div>
        </div>
    </div>
    <!-- khoi 5  -->

    <div class="sec-intro">
        <div class="cafe">CHUYỆN CÀ PHÊ</div>

    </div>

    <div class="split">
        <div class=" split-container1 sec2-words">
            <div class="text-half">
                <div class="line3"> Hơn cả một loại thức uống để ngày mới tươi ngay hay yêu chiều khẩu vị vào buôir chiều, mỗi ly CloudFee còn gắn liền với một câu chuyện thú vị.</div>
                <br>
                <div class="line4 line4-block"><a href="">CÙNG ĐÓN CHỜ</a></div>
            </div>
            <div class="image-half"><img src="https://file.hstatic.net/1000075078/file/photo_2022-06-27_13-21-31_1f8c8a00f22e467c8d705e8a95331ae8.jpg" alt=""></div>
        </div>
    </div>

</div>



