
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Areas/Admin/Views/Shared/LayoutGiaoDien.cshtml";
}

<!-- slide -->
<div class="slider">
    <div class="list">
        <div class="item"><img src="https://file.hstatic.net/1000075078/file/web_desktop_6be84480567c4e389b2e753acaa3d37e.jpg" alt=""></div>
        <div class="item"><img src="https://file.hstatic.net/1000075078/file/banner_web_moi_-_desktop_602d516f69234ef89a5e2d87a709278f.jpg" alt=""></div>
        <div class="item"><img src="https://file.hstatic.net/1000075078/file/desktop_a561690fd86c470895186147c88c353b.jpg" alt=""></div>
        <div class="item"><img src="https://file.hstatic.net/1000075078/file/web_desktop_433fc62516f640c9b942eae06078ff57.jpg" alt=""></div>
        <div class="item"><img src="https://file.hstatic.net/1000075078/file/web_desktop_9345898cc7fe445faa5ac5030dfab2f7.jpg" alt=""></div>
    </div>

    <div class="buttons">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>

    <!-- dots -->
    <ul class="dots">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<section>
    </div>
</section>

<!-- HET THUC SLIDE -->
<!-- about  -->
<!-- <section class="about" id="about">
    <h1 class="heading"> <span>giới thiệu </span>!!!</h1>
    <div class="row">
        <div class="image">
            <img src="nen3.jpg" alt="">
        </div>

        <div class="content">
            <h3>Điều gì khiến cà phê chúng tôi trở nên đặc biệt ?</h3>
            <p>👉 nghĩ nội dung!</p>
            <p>👉 nghĩ nội dung!!</p>
            <a href="#" class="btn">học thêm</a>
        </div>
    </div>

</section> -->
<!-- thay the  -->
<!-- phan tay bac -->

<div class="container">
    <div class="combo-decs">
        <div class="desc-img"><img src="https://file.hstatic.net/1000075078/file/tagline__1__1_378410beecb347f38cf8425ef7459690.png" alt=""> </div>
        <div class="decs">
            Được trồng trọt và chăm chút kỹ lưỡng, nuôi dưỡng từ thổ nhưỡng phì nhiêu, nguồn nước mát lành, bao bọc bởi mây và sương cùng nền nhiệt độ mát mẻ quanh năm, những búp trà ở Tây Bắc mập mạp và xanh mướt, hội tụ đầy đủ dưỡng chất, sinh khí, và tinh hoa đất trời.  Chính khí hậu đặc trưng cùng phương pháp canh tác của đồng bào dân tộc nơi đây đã tạo ra Trà Xanh vị mộc dễ uống, dễ yêu, không thể trộn lẫn với bất kỳ vùng miền nào khác.
        </div>
        <a class="btn-try" href="" title="thử ngay">
            <span>Thử Ngay</span>
        </a>
    </div>
</div>

<!-- het phan tay bac -->




